body{
    margin: 0;
    font-family: "Jacquard 24", system-ui;
        font-family: "Cabin", sans-serif;
            background-color: palegoldenrod;
        
      
}
.menu {
    position: relative;
    top: 15;
    right: 9000px; /* Початково приховане праворуч */
    width: 200px;
    background-color: #fff;
    /*box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);*/
    transition: right 0.3s ease;
    z-index: 1100;
    flex-direction: row;
    background: space;
    display: flex;
  }
  .menu.open {
    right: 100; /* Висувається при відкритті */
  }
  .nav-item {
    display: flex;
    padding: 10px 20px;
    text-decoration: none;
    color: #333;
    white-space: nowrap;
    border-bottom: 1px solid #ddd;
    color: rgb(106, 106, 255);
    font-weight: 600;
  }
  .nav-item:hover {
    background-color: #f0f0f0;
  }
@media screen and (max-width: 500px) {
.btn{
    display: none;
}

.number{
    display: none;
}

    .card-holder{
        display: none;
        justify-content: space-between;
    }
    
    .card{
        box-shadow: -20px -20px 20px 20px #0000001A;
        width: 500px;
        /* margin-right: 20px; */
        background-color: #fff;
        margin-top: 20px;
        padding:  10px;
    }
    .card3{
        display: none;
    }
   
    .body {
      background-color: chocolate;
    }
    .header-line{
        float: none; 
        width: 100%;
        justify-content: space-around; 
        paddind-top: 10px;
        /* display: none; */
    }
    
    .history-images{
        display: none;
    }
  }

.container {
    margin: 0px 5px;
}
.header {
    background-image: url(../images/bg1.jpg);
height: 100vh;
background-repeat: no-repeat;
background-size: cover;
}

.header-logo{
    color: rgb(38, 121, 178);
    font-family: "Jacquard 24", system-ui;
    font-size: 80px;
    font-weight: 80;
    text-align: center;
    margin-top: 4px;
}


.header-line{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
/*.nav-item{
    color: chocolate;
    text-decoration: none;
font-weight: 600;
    margin-right: 50px;
    margin-top: 30px;
    transition: color 0.3s linear;
}

.nav-item:hover{
    color: brown;
}
.truba{
    border-left: 5px solid rgba(34, 75, 0, 0.616);
height: 50px;
    padding-right: 50px;
    right: 30px;
}*/
.num{
    color: chocolate;
    text-decoration: none;
    font-weight: 700;
}
.num:hover{
    transition: color 0.3s linear;
}
.phone-holder{
   display: flex;
align-items: center;
}
.bt{
    display: flex;
    align-items: end;
}
.button{
    background-color: coral;
    color: rgba(5, 105, 255, 0.548);
    text-decoration: none;
    padding: 14px 18px;
}
.button:hover{
    background-color: rgb(247, 68, 4);
    transition: background-color 0.2s linear;
}
.header-down{
    position: relative;
    
}
.header-title{
    color: rgb(38, 121, 178);
    font-family: "Jacquard 24", system-ui;
    font-size: 80px;
    font-weight: 800;
    text-align: center;
    margin-top: 43px;
    padding-top: 80;
}
.header-subtitle{
    .jacquard-24-regular {
        font-family: "Jacquard 24", system-ui;
        font-weight: 400;
        font-style: normal;
      }
    color: rgba(30, 137, 209, 0.966);
font-size: 18px;
}



.card-holder{
    display: flex;
    justify-content: space-between;
}

.card{
    box-shadow: -20px -20px 20px 20px #0000001A;
    width: 500px;
    margin-right: 20px;
    background-color: #fff;
    margin-top: 20px;
    padding: 10px 10px;
}

.card3{
    /* box-shadow: 10px 10px 40px 20px #0000001A; */
    
    margin-right: 20px;
    background-color: #fff;
    margin-top: 20px;
    padding: 10px 10px;
}

.pivo-image{
    display: flex;
    justify-content: center;
    padding-top: 15px;
}
.card-title{
    display: flex;
    justify-content: center;
}
.card-descr{
    text-align: center;
    padding-top: 10px;
}

.history{
    margin-top: 166px;
}

.history-title{
    font-family: "Jacquard 24", system-ui;
    font-weight: 400;
   font-size: 54px;
   width: 444px;
    text-align: center;
    margin-top: 21px;
}
.history-desc{
    color: #656363;
    font-size: 20px;
    width: 444px;
    text-align: center;
}
.history-num{
    text-decoration: none;
    display: flex;
    width: 444px;
    justify-content: center;
    margin-top: 40px;
    margin-left: 30px;

}

.num-items{
    margin-right: 60px;
    text-decoration: none;
    font-size: 16px;
}
.history-images{
    position: relative;
}

.history-holder{
    display: flex;
    justify-content: space-between;
}
.images-1 {
    position: absolute;
    z-index: 0;
    top: -34px;
    left: -833px;
}
.images-2 {
    position: absolute;
    z-index: 0;
    top: -111px;
    left: -524px;
}
.images-3 {
    position: absolute;
    z-index: 0;
    top: 100px;
    left: -611px;
}
.num-items span{
    text-decoration: none;
}
.header-title{
    font-family: "Jacquard 24", system-ui
}

@media screen and (max-width: 600px) {
    .card{
        width: 100%;
    }
}

.product-list {
    display: flex;
    flex-wrap: wrap;
}
.product-item {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    width: 200px;
    text-align: center;
}
.product-item img {
    max-width: 100%;
    height: auto;
}